  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

  
:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: #a7042d;
    --colorGray: #c9c9c9; 
}

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */

body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}



